.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.home-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-logout {
  background-color: #e53935;
  color: white;
  font-weight: 600;
}
