.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #f5f5f5; */
}

.login-card {
  background: #ffffff;
  padding: 2rem;
  border: #ccc solid 1px;
  border-radius: 16px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login-card h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login-form button {
  padding: 0.75rem;
  border: #ccc solid 1px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.google-button {
  background: #db4437;
  color: #fff;
}

.google-button:hover {
  background: #c33d2e;
}

.login-form input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.erro {
  color: #e53935;
  margin-bottom: 1rem;
  text-align: center;
}

.divisor {
  text-align: center;
  margin: 1rem 0;
  position: relative;
}

.divisor::before,
.divisor::after {
  content: "";
  height: 1px;
  background: #ddd;
  position: absolute;
  top: 50%;
  width: 40%;
}

.divisor::before {
  left: 0;
}

.divisor::after {
  right: 0;
}

.btn-primary,
.btn-google {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary {
  background: #2196f3;
  color: #fff;
  margin-bottom: 0.5rem;
}

.btn-primary:hover {
  background: #1976d2;
}

.btn-google {
  background: #db4437;
  color: #fff;
}

.btn-google:hover {
  background: #c33d2e;
}
