.ranking {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ranking-container {
  /* width: 550px; */
}

.ranking-list {
  list-style: none;
  padding: 1rem;
}

.ranking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
}

.posicao {
  font-weight: 800;
}

.usuario {
  flex: 1;
  text-align: left;
}

.email {
  flex: 1;
  text-align: right;
}

.pontos {
  font-weight: 700;
  font-style: italic;
}
